(
    name: "Precision Landing using Thrust Vectoring",
    description: "Touch down within the landing zone at x=0 within +/- 10m",
    physics: (
        gravity: -1.62,     // lunar gravity, [m/s^2]
        dry_mass: 300.0,    // [kg]
        max_thrust: 1389.0,  // [N]
        isp: 326.0,         // specific impulse [s]
    ),
    initial: (
        x0: -130.0,   // start left of target
        y0: 200.0, // starting altitude
        vx0: 20.0, // initial horizontal velocity
        vy0: -10.0, // initial vertical velocity
        initial_angle: 1.578,  // [rad]
        initial_fuel: 70.98,   // [kg]
    ),
    success: (
        vx_max: 1.0,   // max horizontal landing speed
        vy_max: 2.0,   // max vertical landing speed
        position_box: (     // land anywhere on the ground
            // x_min:-10.0,
            // x_max: 10.0,
            x_min: -10.0,
            x_max: 10.0,
            y_min: 0.0,    // must be on ground
            y_max: 2.0,    // small tolerance for ground contact
            reference: Absolute,
        ),
        final_angle: 0.0,
        angle_tolerance: 0.25, // 15 degrees
        persistence_period: 5.0,
    ),
    failure: (
        ground_collision: false,  // We handle hard landings via velocity constraints
        bounds: None,     // No out-of-bounds area
    ),
    control_scheme: ThrustVector,
    success_message: "Landed successfully!",
    failure_message: "Landing too hard! The lander crashed.",
    hint: "TBD..."
)
